@charset "UTF-8";
.clearfix::after{
  content:"";
  display: block;
  clear: both;}


body {
   background-color: #f2f2f2;
   font-family: raleway;
}

a {
   margin: 0;
   padding: 0;
   background: none;
   text-decoration: none;
   border: none;
   border-radius: 0;
   outline: none;

}

.clearfix::before,
.clearfix::after {
   display: block;
   content: '';
   clear: both;
}

.inner {
   margin: 0 auto;
   max-width: 1100px;
   text-align: center;
   font-size: 0;
   color: #333;
}

.grid__col {
   display: inline-block;
   vertical-align: top;
}


.header {
   background-color: #fff;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   position: fixed;
}
.header__inner { padding: 15px 0; }
.header__logo {
   color: #777;
   font-size: 15px;
   float: left;
   padding-left: 15px;
}
.header__logo:hover { opacity: 0.8; }
.header__menu {
  position: relative;
  float: right;

}
.header__btn {
   display: block;
   font-size: 14px;
   padding: 15px;
   margin-top: auto;
   line-height: 20px;
   background-color: #74cfae;
   color: #fff;
}
.header__btn:hover { color: #333; }

.keyvisual {
   padding-top: 90px;
 }
.keyvisual__inner {
  padding: 250px 15px;
}
.keyvisual__title {
   font-size: 90px;
   font-weight: 700;
   color: #74cfae;
   margin-bottom: 20px;
}
.keyvisual__caption {
   font-size: 30px;
   color: #c0c0c0;
}
.keyvisual__title h1,
.keyvisual__caption p {
   display: inline-block;
}

.what {
  background-color: #74cfae;
  }
.what__inner {
   padding: 50px 15px 0 15px;
   color: #fff;
   margin: 0 auto;
 }

.grid__col-5 {
   width: 41.666%;
   float: left;
 }


.grid__col-7 {
  width: 58.333%;
}

.what__txt {
   font-weight: lighter;
   padding: 0 20px;
}
.what__title {
   font-size: 24px;
   margin-bottom: 35px;
}
.what__caption {
   font-size: 20px;
   font-family: lato;
   line-height: 30px;
}


.work__inner { padding: 60px 15px 70px 15px; }
.work__title {
   font-size: 24px;
   margin-top: 60px;
}
.work__img__list { margin-bottom: 90px; }
ul.work__img__list > li {
  margin-left: 100px;
  margin-top: 80px;
  display: inline-block;
}

ul.work__img__list > li:nth-child(3n+1) {
   margin-left: 0;
}
ul.work__img__list < li:nth-child(-n+3) {
   margin-top: 0;
}

ul.work__img__list a {
   width: 300px;
   height: 300px;
   opacity: 0.7;
   display: inline-block;
   transition: 0.3s;
}
ul.work__img__list a:hover { opacity: 5; }



.work__caption {
   font-size: 21px;
   word-break: keep-all;
   font-weight: lighter;
   line-height: 30px;
   font-family: lato;
   letter-spacing: 1.1px;
}
.mail {
   font-size: 19px;
   color: #fff;
   padding: 15px 35px;
   background-color: #74cfae;
   font-family: lato;
   font-weight: lighter;
   transition: 0.3s;
}
.mail:hover { color: #333; }
.wb {
   display: inline-block;
   vertical-align: top;
}

.grid__col-3 { width: 25%; }



.skill { background-color: #4e4e4e; }
.skill__inner {
   padding: 70px 15px 100px 15px;
   color: #fff;
}
.skill__title {
   font-size: 24px;
   margin-bottom: 70px;
}
.skill__img {
   background-repeat: no-repeat;
   width: 122px;
   display: inline-block;
   margin-left: 180px;
   font-size: 16px;
   color: #fff;
}
.skill__img:first-child { margin-left: 0; }
.skill__img img { padding-bottom: 20px; }



.sns{
  background-color: #f2f2f2;
}

.sns__inner {
   max-width: 800px;
   padding: 200px 15px;
   background-color: #f2f2f2;

}
.sns__list > li {
   display: inline-block;
   width: 23%;
}
.sns__link {
   display: block;
   padding: 30px;
   transition: 0.3s;
}
.sns__icon {
   font-size: 50px;
   color: #74cfae;
}
.sns__link:hover { background-color: #fff; }


.footer { background-color: #74cfae; }
.footer__inner {
   padding: 0 15px;
   height: 75px;
}
div.footer__inner p {
   font-size: 15px;
   color: #fff;
   float: right;
   padding: 30px 0;
